In [1]:
import pandas as pd

In [2]:
coeff_dir_path = "saved_models/coeffs"

log_reg_fp = f"{coeff_dir_path}/LogisticRegression.csv"
lasso_fp = f"{coeff_dir_path}/LASSO.csv"
ridge_fp = f"{coeff_dir_path}/Ridge.csv"
elastic_fp = f"{coeff_dir_path}/ElasticNet.csv"


log_reg_df = pd.read_csv(log_reg_fp)
lasso_df = pd.read_csv(lasso_fp)
ridge_df = pd.read_csv(ridge_fp)
elastic_df = pd.read_csv(elastic_fp)

In [3]:
log_reg_df

                                  0        0.1
0                 Volume_normalised  -0.014693
1                     log_returns_t   0.001038
2                       direction_t   0.075056
3          ema_5_price_t_normalised -65.439659
4         ema_20_price_t_normalised  36.522196
5          sma_5_price_t_normalised  47.854453
6         sma_20_price_t_normalised -19.994923
7     momentum_4_price_t_normalised   6.516827
8    momentum_12_price_t_normalised  -2.762935
9    momentum_26_price_t_normalised   3.777654
10   momentum_52_price_t_normalised  -0.570704
11  momentum_155_price_t_normalised  -0.031030
12       log_returns_t_standardised   0.049328
13      sharpe_ratio_t_standardised  -1.152126
14     sortino_ratio_t_standardised   1.273002
15     log_returns_t_standardised-1   0.128466
16     log_returns_t_standardised-2   0.025506
17     log_returns_t_standardised-3  -0.089021
18     log_returns_t_standardised-4  -0.087285
19     log_returns_t_standardised-7   0.069387
20    log_returns_t_standardised-12  -0.052177
21    log_returns_t_standardised-26   0.082375
22    log_returns_t_standardised-52   0.059116

In [4]:
lasso_df

                                  0       0.1
0                 Volume_normalised  0.000000
1                     log_returns_t  0.000000
2                       direction_t  0.094879
3          ema_5_price_t_normalised -0.099800
4         ema_20_price_t_normalised  0.000000
5          sma_5_price_t_normalised -0.108812
6         sma_20_price_t_normalised  0.000000
7     momentum_4_price_t_normalised  0.000000
8    momentum_12_price_t_normalised  0.000000
9    momentum_26_price_t_normalised  0.000000
10   momentum_52_price_t_normalised -0.438923
11  momentum_155_price_t_normalised -0.095094
12       log_returns_t_standardised  0.002183
13      sharpe_ratio_t_standardised  0.000000
14     sortino_ratio_t_standardised  0.012627
15     log_returns_t_standardised-1  0.011979
16     log_returns_t_standardised-2 -0.030556
17     log_returns_t_standardised-3 -0.018472
18     log_returns_t_standardised-4 -0.016002
19     log_returns_t_standardised-7  0.054765
20    log_returns_t_standardised-12 -0.013229
21    log_returns_t_standardised-26  0.018000
22    log_returns_t_standardised-52  0.051184

In [5]:
ridge_df

                                  0       0.1
0                 Volume_normalised  0.017632
1                     log_returns_t  0.000104
2                       direction_t  0.086669
3          ema_5_price_t_normalised -0.232293
4         ema_20_price_t_normalised -0.202149
5          sma_5_price_t_normalised -0.229946
6         sma_20_price_t_normalised -0.204565
7     momentum_4_price_t_normalised -0.006068
8    momentum_12_price_t_normalised -0.138867
9    momentum_26_price_t_normalised  0.068753
10   momentum_52_price_t_normalised -0.440788
11  momentum_155_price_t_normalised -0.093447
12       log_returns_t_standardised  0.005333
13      sharpe_ratio_t_standardised -0.199324
14     sortino_ratio_t_standardised  0.272247
15     log_returns_t_standardised-1  0.013465
16     log_returns_t_standardised-2 -0.042353
17     log_returns_t_standardised-3 -0.030574
18     log_returns_t_standardised-4 -0.024399
19     log_returns_t_standardised-7  0.060121
20    log_returns_t_standardised-12 -0.021608
21    log_returns_t_standardised-26  0.024941
22    log_returns_t_standardised-52  0.060162

In [6]:
elastic_df

                                  0       0.1
0                 Volume_normalised  0.000000
1                     log_returns_t  0.000000
2                       direction_t  0.080428
3          ema_5_price_t_normalised -0.256348
4         ema_20_price_t_normalised -0.163328
5          sma_5_price_t_normalised -0.254802
6         sma_20_price_t_normalised -0.159309
7     momentum_4_price_t_normalised  0.000000
8    momentum_12_price_t_normalised  0.000000
9    momentum_26_price_t_normalised  0.000000
10   momentum_52_price_t_normalised -0.520740
11  momentum_155_price_t_normalised  0.000000
12       log_returns_t_standardised  0.002709
13      sharpe_ratio_t_standardised -0.064885
14     sortino_ratio_t_standardised  0.126442
15     log_returns_t_standardised-1  0.009895
16     log_returns_t_standardised-2 -0.039178
17     log_returns_t_standardised-3 -0.026607
18     log_returns_t_standardised-4 -0.021108
19     log_returns_t_standardised-7  0.057389
20    log_returns_t_standardised-12 -0.016188
21    log_returns_t_standardised-26  0.022480
22    log_returns_t_standardised-52  0.055223